@model IEnumerable<COMP2084___A1.Models.EcoScore>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ObjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reuse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reduce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recycle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ecoscore1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ObjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reuse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reduce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recycle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ecoscore1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EcoscoreId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EcoscoreId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EcoscoreId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
