@model IEnumerable<COMP2084___A1.Models.EcoScore>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="text-center">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/grey_logo.png" /></br></a>
    </div>

<h1>EcoScore Catalogue</h1>

@if(User.Identity.IsAuthenticated){
<div class="text-center">
    <p>Drumroll please!</p>
    <img height="250px" width="auto" src="~/img/drumroll.gif" />
    <h2>Welcome back! @User.Identity.Name</h2>
    <blockquote>Thank you for being apart of the RePsychle Community!</blockquote>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>

}

@if (!User.Identity.IsAuthenticated)
{



<div class="text-left">
    <blockquote>
        This is a table that was created to have the functionality of being a child to the User Controller. The idea is to be able to currently fill the table
        with the fields that are filled in with the Object Name, eventually the EcoScore ID. These fields include:
        <ul>
            <li>Description</li>
            <li>Reuse</li>
            <li>Reduce</li>
            <li>Recycle</li>
            <li>Photo</li>
            <li>EcoScore</li>
        </ul>
    </blockquote>

</div>

}

<table class="table sortable">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reuse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reduce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recycle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                EcoScore
            </th>
            <th>
                Action List
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ObjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reuse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reduce)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recycle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ecoscore1)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EcoscoreId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EcoscoreId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EcoscoreId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
